<app-header
  [navbarBrandRouterLink]="['/projects']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/i40_FastResponse_logo.png', width: 80, height: 50, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/i40_FastResponse_logo.png', width: 48, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/projects']">Proyectos</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Ayuda</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Configuración</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <!-- Notifications -->
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
         dropdownToggle (click)="false">
        <i class="icon-bell"></i>
        <span *ngIf="notifications.length > 0" class="badge badge-pill badge-danger">{{notifications.length}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Notificaciones</strong></div>
        <div class="dropdown-item" *ngIf="notifications.length == 0">
          <span>No hay notificaciones</span>
        </div>
        <a *ngFor="let n of notifications" class="dropdown-item" href="#">
          <i class="fa fa-bell-o"></i> {{n.body}}
        </a>
      </div>
    </li>
    <!-- Tasks -->
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="icon-list"></i></a>
    </li>

    <!-- Messages -->
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
         dropdownToggle (click)="false">
        <i class="fa fa-envelope-open-o"></i>
        <span *ngIf="messages.length > 0" class="badge badge-pill badge-info">{{messages.length}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Mensajes</strong></div>
        <div class="dropdown-item" *ngIf="messages.length == 0">
          <span>No hay mensajes</span>
        </div>
        <a *ngFor="let m of messages" class="dropdown-item" href="#">
          <div class="message">
            <div class="py-3 mr-3 float-left">
              <div class="avatar">
                <img src="assets/img/avatars/7.jpg" width="35px" class="img-avatar" alt="admin@bootstrapmaster.com"/>
              </div>
            </div>
            <div>
              <small class="text-muted">New</small>
              <small class="text-muted float-right mt-1">12:05pm</small>
            </div>
            <div class="text-truncate font-weight-bold">
              <span>{{m.header}}</span>
            </div>
            <div class="text-truncate small text-muted">
              <span>{{m.body}}</span>
            </div>
          </div>
        </a>
      </div>
    </li>

    <!-- User profile -->
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
         dropdownToggle (click)="false">
        <span class="d-md-down-none">{{userName}}</span>
        <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Cuenta</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Perfil</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Configuración</a>
        <div class="dropdown-header text-center"><strong>Sesión</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Cerrar sesión</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
               (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <!--<li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>-->
      <div class="breadcrumb-menu">
        <strong>
          Proyecto:  {{project.name}} - {{id}}
        </strong>
      </div>
    </cui-breadcrumb>
    <!-- deprecation warning for 'app-breadcrumb' -->
    <!--<ol class="breadcrumb">-->
    <!--<app-breadcrumb></app-breadcrumb>-->
    <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
    <!--<li class="breadcrumb-menu d-md-down-none">-->
    <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
    <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
    <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
    <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ol>-->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

</div>
<div class="chat-min" *ngIf="!extendChatBot; else chatMax" (click)="extendChatBot = true; dismissMsg=true;">
  <div class="float-left bg-gray-100 popout" style="border-radius: 50px;">
    <img class="chat-logo" src="assets/img/avatars/robot.png" alt="Virtual assistant">
  </div>
  <div class="float-left chat-rect popout" [@inOutAnimation] *ngIf="!dismissMsg">
    <div class="chat-text bg-gray-100">¿En qué te puedo ayudar?</div>
  </div>
</div>
<ng-template #chatMax>
  <div class="chat-max">
    <div class="bg-gray-100" style="border-radius: 5px;">
      <div class="close align-self-middle mr-2" style="margin-top: 0.75rem;" (click)="extendChatBot = false;">
        <i class="fa fa-times"></i>
      </div>
      <div class="m-auto" style="width: fit-content;">
        <img class="chat-logo" src="assets/img/avatars/robot.png" alt="Virtual assistant">
      </div>

    </div>
    <div #chatContainer id="chatContainer" class="bg-gray-200 chat-messages pt-2 pl-2 pr-2">
      <div class="w-100 d-flex" *ngFor="let m of chatMessages" [ngClass]="m.user === 'CHATBOT' ? 'justify-content-start' : 'justify-content-end'">
        <div  class="py-2 pl-2 pr-4 mb-2"
              style="max-width: 65%; overflow-wrap: break-word"
              [ngClass]="m.user === 'CHATBOT' ? 'bg-white' : 'bg-info'"
              [innerHTML]="m.message">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <textarea class="form-control" [(ngModel)]="messageToSend" (keydown)="enterPressed($event)" placeholder="Write something..."></textarea>
        <button type="button" class="btn btn-info input-group-append" (click)="sendChatMessage()"><i class="fa fa-arrow-right m-auto"></i></button>
      </div>
    </div>
  </div>
</ng-template>
<app-footer>
  <span><a href="#">i4.0 Fast Response</a> &copy; 2019 Equipo A.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer>
