<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="card-title mb-0">Improvement triggers</h4>
          <p>Probar y mejorar entendiendo lo que es más efectivo para el cliente</p>
        </div>
        <div class="col-sm-6 mt-2 mb-3">
          <h4>Plantilla</h4>
        </div>
        <div class="col-sm-6 mt-2 mb-3">
          <select class="form-control">
            <option>Versión 1 - 22/11/2019</option>
            <option>Versión 2 - 27/11/2019</option>
          </select>
        </div>
        <div class="col-12">
          <h4>
            <strong>Substitute</strong>
          </h4>
          <p class="text-muted">What materials or resources can you substitute or swap to improve your work?</p>
        </div>
        <div class="col-12 form-group">
          <textarea class="form-control"></textarea>
        </div>
        <div class="col-12">
          <h4>
            <strong>Combine</strong>
          </h4>
          <p class="text-muted">What would happen if you combined different aspects of your work to create something new</p>
        </div>
        <div class="col-12 form-group">
          <textarea class="form-control"></textarea>
        </div>
        <div class="col-12">
          <h4>
            <strong>Adapt</strong>
          </h4>
          <p class="text-muted">How could you adapt or adjust your work to serve another use or purpose?</p>
        </div>
        <div class="col-12 form-group">
          <textarea class="form-control"></textarea>
        </div>
        <div class="col-12">
          <h4>
            <strong>Modify</strong>
          </h4>
          <p class="text-muted">What could you add to modify your work?</p>
        </div>
        <div class="col-12 form-group">
          <textarea class="form-control"></textarea>
        </div>
        <div class="col-12">
          <h4>
            <strong>Put to another use</strong>
          </h4>
          <p class="text-muted">Can you use your work somewhere else?</p>
        </div>
        <div class="col-12 form-group">
          <textarea class="form-control"></textarea>
        </div>
        <div class="col-12">
          <h4>
            <strong>Eliminate</strong>
          </h4>
          <p class="text-muted">How could you streamline or simplify your work?</p>
        </div>
        <div class="col-12 form-group">
          <textarea class="form-control"></textarea>
        </div>
        <div class="col-12">
          <h4>
            <strong>Reverse</strong>
          </h4>
          <p class="text-muted">What would happen if you reversed your process or sequenced them differently?</p>
        </div>
        <div class="col-12 form-group">
          <textarea class="form-control"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
