<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Launch</h4>
        </div>
        <div class="col-sm-7">
        </div>
        <div class="col-sm-12">
          <p>
            Hay que definir y cumplir estándares de calidad, procesos de fabricación y estrategía de ventas
          </p>
        </div>
        <div class="col-md-12">
          <div class="mt-2 mb-2">
            <strong>Herramientas:</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card text-white bg-info">
            <div class="card-header">
              Marketing Mix
            </div>
            <div class="card-body text-center">
              Concretar parámetros finales del producto, de acuerdo a las pruebas, definir su proceso de fabricación así como otros aspectos comerciales rumbo al lanzamiento.
              <br/>
              <a [routerLink]="['/project/launch/marketing-mix']" class="btn btn-primary mt-3 " role="button">
                Comenzar
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>
  </div>
</div>
