<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="card-title mb-0">Marketing mix</h4>
          <p>Concretar parámetros finales del producto, de acuerdo a las pruebas, definir su proceso de fabricación así como otros aspectos comerciales rumbo al lanzamiento.</p>
        </div>
        <div class="col-12">
          <tabset>
            <tab>
              <ng-template tabHeading>
                Product
              </ng-template>
              <div class="row">
                <div class="col-8">
                  <h4>
                    <strong>Product</strong>
                  </h4>
                  <p class="text-muted">Describe your "Unique Selling Proposition" that clearly states the features and benefits that make your work unique </p>
                </div>
                <div class="col-sm-4 mt-2 mb-3">
                  <select class="form-control">
                    <option>Versión 1 - 22/11/2019</option>
                    <option>Versión 2 - 27/11/2019</option>
                  </select>
                </div>
                <div class="col-12 form-group">
                  <textarea class="form-control"></textarea>
                </div>
                <div class="col-12">
                  <ul>
                    <li>
                      <strong>BOM Control</strong>
                      <button class="btn btn-link"> Ver detalle</button>
                    </li>
                    <li>
                      <strong>Ficha técnica</strong>
                      <button class="btn btn-link"> Ver detalle</button>
                    </li>
                  </ul>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary mb-4">Agregar recurso</button>
                </div>
                <div class="col-12">
                  <tabset class="mb-3">
                    <tab>
                      <ng-template tabHeading><i class="icon-docs">Documento</i></ng-template>
                      <div class="form-group">
                        <label>Título</label>
                        <input class="form-control" type="text">
                      </div>
                      <div class="form-group">
                        <label>Sube un archivo</label>
                        <input class="form-control" type="file">
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-primary">Guardar</button>
                      </div>
                    </tab>
                    <tab>
                      <ng-template tabHeading><i class="icon-link">Link</i></ng-template>
                      <div class="form-group">
                        <label>Título</label>
                        <input class="form-control" type="text">
                      </div>
                      <div class="form-group">
                        <label>Comparte un link</label>
                        <input class="form-control" type="text">
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-primary">Guardar</button>
                      </div>
                    </tab>
                  </tabset>
                </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                Place
              </ng-template>
            </tab>
            <tab>
              <ng-template tabHeading>
                Price
              </ng-template>
            </tab>
            <tab>
              <ng-template tabHeading>
                Physical environment
              </ng-template>
            </tab>
            <tab>
              <ng-template tabHeading>
                Process
              </ng-template>
            </tab>
            <tab>
              <ng-template tabHeading>
                People
              </ng-template>
            </tab>
            <tab>
              <ng-template tabHeading>
                Promotion
              </ng-template>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>

