<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="card-title mb-0">Marketing mix</h4>
          <p>Concretar parámetros finales del producto, de acuerdo a las pruebas, definir su proceso de fabricación así como otros aspectos comerciales rumbo al lanzamiento.</p>
        </div>
        <div class="col-12">
          <tabset>
            <tab>
              <ng-template tabHeading>
                Product
              </ng-template>
              <div class="row">
                <div class="col-8">
                  <h4>
                    <strong>Product</strong>
                  </h4>
                  <p class="text-muted">Describe your "Unique Selling Proposition" that clearly states the features and benefits that make your work unique </p>
                </div>
                <div class="col-sm-4 mt-2 mb-3">
                  <select class="form-control">
                    <option>Versión 1 - 22/11/2019</option>
                    <option>Versión 2 - 27/11/2019</option>
                  </select>
                </div>
                <div class="col-12 form-group">
                  <textarea class="form-control"></textarea>
                </div>
                <div class="col-12">
                  <ul>
                    <li>
                      <strong>BOM Control</strong>
                      <button class="btn btn-link"> Ver detalle</button>
                    </li>
                    <li>
                      <strong>Ficha técnica</strong>
                      <button class="btn btn-link"> Ver detalle</button>
                    </li>
                  </ul>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary mb-4">Agregar recurso</button>
                </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                Place
              </ng-template>
              <div class="row">
                <div class="col-8">
                  <h4>
                    <strong>Place</strong>
                  </h4>
                  <p class="text-muted">Where is your work available and how does it get there?</p>
                </div>
                <div class="col-sm-4 mt-2 mb-3">
                  <select class="form-control">
                    <option>Versión 1 - 22/11/2019</option>
                    <option>Versión 2 - 27/11/2019</option>
                  </select>
                </div>
                <div class="col-12 form-group">
                  <textarea class="form-control"></textarea>
                </div>
                <div class="col-12">
                  <ul>
                    <li>
                      <strong>Document for Place</strong>
                      <button class="btn btn-link"> Ver detalle</button>
                    </li>
                  </ul>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary mb-4">Agregar recurso</button>
                </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                Price
              </ng-template>
              <div class="row">
                <div class="col-8">
                  <h4>
                    <strong>Price</strong>
                  </h4>
                  <p class="text-muted">What are the returns you receive for your work?</p>
                </div>
                <div class="col-sm-4 mt-2 mb-3">
                  <select class="form-control">
                    <option>Versión 1 - 22/11/2019</option>
                    <option>Versión 2 - 27/11/2019</option>
                  </select>
                </div>
                <div class="col-12 form-group">
                  <textarea class="form-control"></textarea>
                </div>
                <div class="col-12">
                  <ul>
                    <li>
                      <strong>Document for Price</strong>
                      <button class="btn btn-link"> Ver detalle</button>
                    </li>
                  </ul>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary mb-4">Agregar recurso</button>
                </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                Physical environment
              </ng-template>
              <div class="row">
                <div class="col-8">
                  <h4>
                    <strong>Physical environment</strong>
                  </h4>
                  <p class="text-muted">What impression does your workplace give to your audience, suppliers and staff</p>
                </div>
                <div class="col-sm-4 mt-2 mb-3">
                  <select class="form-control">
                    <option>Versión 1 - 22/11/2019</option>
                    <option>Versión 2 - 27/11/2019</option>
                  </select>
                </div>
                <div class="col-12 form-group">
                  <textarea class="form-control"></textarea>
                </div>
                <div class="col-12">
                  <ul>
                    <li>
                      <strong>Document for Physical Environment</strong>
                      <button class="btn btn-link"> Ver detalle</button>
                    </li>
                  </ul>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary mb-4">Agregar recurso</button>
                </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                Process
              </ng-template>
              <div class="row">
                <div class="col-8">
                  <h4>
                    <strong>Process</strong>
                  </h4>
                  <p class="text-muted">What are the procedures that your company uses to deliver your work?</p>
                </div>
                <div class="col-sm-4 mt-2 mb-3">
                  <select class="form-control">
                    <option>Versión 1 - 22/11/2019</option>
                    <option>Versión 2 - 27/11/2019</option>
                  </select>
                </div>
                <div class="col-12 form-group">
                  <textarea class="form-control"></textarea>
                </div>
                <div class="col-12">
                  <ul>
                    <li>
                      <strong>Document for process</strong>
                      <button class="btn btn-link"> Ver detalle</button>
                    </li>
                  </ul>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary mb-4">Agregar recurso</button>
                </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                People
              </ng-template>
              <div class="row">
                <div class="col-8">
                  <h4>
                    <strong>People</strong>
                  </h4>
                  <p class="text-muted">Who of your staff or representatives are involved?</p>
                </div>
                <div class="col-sm-4 mt-2 mb-3">
                  <select class="form-control">
                    <option>Versión 1 - 22/11/2019</option>
                    <option>Versión 2 - 27/11/2019</option>
                  </select>
                </div>
                <div class="col-12 form-group">
                  <textarea class="form-control"></textarea>
                </div>
                <div class="col-12">
                  <ul>
                    <li>
                      <strong>Document for People</strong>
                      <button class="btn btn-link"> Ver detalle</button>
                    </li>
                  </ul>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary mb-4">Agregar recurso</button>
                </div>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                Promotion
              </ng-template>
              <div class="row">
                <div class="col-8">
                  <h4>
                    <strong>Promotion</strong>
                  </h4>
                  <p class="text-muted">What are your means to make your audience aware of your work?</p>
                </div>
                <div class="col-sm-4 mt-2 mb-3">
                  <select class="form-control">
                    <option>Versión 1 - 22/11/2019</option>
                    <option>Versión 2 - 27/11/2019</option>
                  </select>
                </div>
                <div class="col-12 form-group">
                  <textarea class="form-control"></textarea>
                </div>
                <div class="col-12">
                  <ul>
                    <li>
                      <strong>Document for promotion</strong>
                      <button class="btn btn-link"> Ver detalle</button>
                    </li>
                  </ul>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary mb-4">Agregar recurso</button>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>

