<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Connect</h4>
        </div>
        <div class="col-sm-7">
        </div>
        <div class="col-sm-12">
          <p>
            Debemos organizar la información adquirida e encontrar patrones dentro de ella. El punto principal de esta fase es identificar los insights del problema.
          </p>
        </div>
        <div class="col-md-12">
          <div class="mt-2 mb-2">
            <strong>Herramientas:</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card text-white bg-info">
            <div class="card-header">
              Affinity diagram
            </div>
            <div class="card-body text-center">
              Nos permite organizar ideas e información no estructuradas y vincularlas para formar un modelo de pensamiento. Ayuda a identificar patrones significativos en los datos recogidos durante la investigación, especialmente los de carácter cualitativo.
              <br/>
              <a [routerLink]="['/project/connect/affinity-diagram']" class="btn btn-primary mt-3 " role="button">
                Comenzar
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card text-white bg-warning">
            <div class="card-header">
              Accionar Insights
            </div>
            <div class="card-body text-center">
              Con esta herramienta, podemos descubrir cuáles son esos aspectos de forma de pensar, sentir o actuar para transformarlos en oportunidades de nuevos productos, servicios y estrategias accionables.
              <br/>
              <a [routerLink]="['/project/connect/insights']" class="btn btn-warning mt-3 text-white" role="button">
                Comenzar
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>
  </div>
</div>
