// Here you can add other styles
.message{
  width: 100%;
  white-space: nowrap;
  p{
    width: 80%;
    font-size: 10px;
    text-overflow: ellipsis;

  }
}
.card .bg-warning{
  .btn-warning{
    background: #c69500;
  }
}
.card .bg-danger{
  .btn-danger{
    background: #f5302e;
  }
}
.card .bg-success{
  .btn-success{
    background: #379457;
  }
}

.card .comment{
  display: block;
  min-height: calc(35px + 4.5rem);
}

.chat-max{
  display: block;
  position: fixed;
  bottom: 0;
  right: 10px;

  .chat-logo {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    @media (min-width: 576px) {
      width: 65px;
      height: 65px;
    }
  }
}

.chat-min{
  cursor: pointer;
  display: block;
  position: fixed;
  bottom: 0;
  right: 10px;

  .popout {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
  }

  @keyframes popout {
    from{transform:scale(0)}
    80%{transform: scale(1.2)}
    to{transform: scale(1)}
  }

  @-webkit-keyframes popout {
    from{transform:scale(0)}
    80%{transform: scale(1.2)}
    to{transform: scale(1)}
  }

  .chat-logo {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    @media (min-width: 576px) {
      width: 65px;
      height: 65px;
    }
  }

  .chat-rect{
    width: calc(100% - 40px);
    @media (min-width: 576px) {
      width: calc(100% - 65px);
    }
  }

  .chat-text {
    text-align: center;
    font-size: 10px;
    padding: 15px 15px;
    height: 100%;
    border-radius: 50px;
    @media (min-width: 576px) {
      font-size: 14px;
    }
  }
}
