<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Discover</h4>
        </div>
        <div class="col-sm-7">

        </div>
        <div class="col-sm-12">
          <p>
            Dentro de esta fase se desarrollan las ideas. Uno debe volverse experto en el problema del cliente.
          </p>
        </div>
        <div class="col-md-12">
          <div class="mt-2 mb-2">
            <strong>Herramientas:</strong>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card text-white bg-info">
            <div class="card-header">
              Investigación técnica
            </div>
            <div class="card-body text-center">
              Utilizar recursos bibliográficos para tener un mejor entendimiento del problema que se está tratando. Comparte la información relevante que encuentres con el equipo de trabajo.
              <br/>
              <a [routerLink]="['/project/discover/investigation']" class="btn btn-primary mt-3 " role="button">
                Comenzar
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card text-white bg-warning">
            <div class="card-header">
              Five whys
            </div>
            <div class="card-body text-center">
              Es un sistema que nos ayuda a determinar la causa raiz de un problema. Nos permite atacar un problema desde su origen y evitar enfocarnos en síntomas del problema.
              <br/>
              <a [routerLink]="['/project/discover/five-whys']" class="btn btn-warning mt-3 text-white" role="button">
                Comenzar
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card text-white bg-danger">
            <div class="card-header">
              Question ladder
            </div>
            <div class="card-body text-center">
              Nos proporciona una forma sencilla de plantear nuestras preguntas de distintos modos y combinarlas para obtener una respuesta más compleja. Permite entender lo que motiva a las personas
              <br/>
              <a [routerLink]="['/project/discover/question-ladder']" class="btn btn-danger mt-3 " role="button">
                Comenzar
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card text-white bg-success">
            <div class="card-header">
              Voice of the customer
            </div>
            <div class="card-body text-center">
              Su objetivo es obtener retroalimentación del cliente referente a su experiencia con el producto actual y conocer sus expectativas para el producto a desarrollar.
              <br/>
              <a [routerLink]="['/project/discover/voice-customer']" class="btn btn-success mt-3 " role="button">
                Comenzar
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>
  </div>
</div>
